# Xplainable

> Xplainable

In [ ]:
#| default_exp xplainable

In [ ]:
#|eval: false
import xplainable as xplainable
import pandas as pd
from sklearn.model_selection import train_test_split
from IPython.display import HTML
from pathlib import Path

In [ ]:
#|eval: false
from nbdevAuto.functions import * 
import nbdevAuto.functions

In [ ]:
#|eval: false
name = 'titanic'
path = Path(f'Data/{name}')
kaggle_download(name = name)

file exists

In [ ]:
#|eval: false
df = pd.read_csv(path/'train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#|eval: false
from xplainable.core.models import PartitionedClassifier
from xplainable.core.models import XClassifier
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
#|eval: false
# Load your data

train, test = train_test_split(df, test_size=0.2)

# Train your model (this will open an embedded gui)
partitioned_model = PartitionedClassifier(partition_on='partition_column')

# Iterate over the unique values in the partition column
for partition in train['partition_column'].unique():
      # Get the data for the partition
      part = train[train['partition_column'] == partition]
      x_train, y_train = part.drop('target', axis=1), part['target']

      # Fit the embedded model
      model = XClassifier()
      model.fit(x, y)

      # Add the model to the partitioned model
      partitioned_model.add_partition(model, partition)

# Prepare the test data
x_test, y_test = test.drop('target', axis=1), test['target']

# Predict on the partitioned model
y_pred = partitioned_model.predict(x_test)

KeyError: 'partition_column'

In [ ]:
#|eval: false
pp = xp.Preprocessor()
pp.preprocess(df)

In [ ]:
#|eval: false
df = pd.read_csv('preprocessed_1695571534.csv')
df.head()

In [ ]:
#|eval: false
# Train a model
model = xp.classifier(df)